@font-face {
   font-family: tattoo;
   src: url("../../assets/fonts/YesevaOne-Regular.ttf");
}

.navbarButtonsSocials {
   
   font-family: tattoo;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-left: 80%;
   margin-top: -8.2em;


}


.botonNavBarSocials>img {
   width: 3em;
   padding: 0.5em;

}

.botonNavBarSocials>img:hover {
   transform: scale(1.2);
   cursor: pointer;
   filter: contrast(2);
   transition: 0.5s;


}

@media only screen and (max-width: 960px) {
   
   .navbarButtonsSocials {
     
      margin-left: 0%;
      
      margin-top: 9em;
      
   
   
   }
 }

 @media only screen and (max-width: 420px) {
   
   .navbarButtonsSocials {
     
      margin-left: 0%;
      
      margin-top: 3em;
      
   
   
   }
 }