@font-face {
   font-family: tattoo;
   src: url("../../assets/fonts/YesevaOne-Regular.ttf");
}

.navbarButtonsSocials {
   
  
   font-family: tattoo;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-left: 80%;
   margin-top: -8.2em;
   z-index: 2;

}


.botonNavBarSocials>img {
   width: 3em;
   padding: 0.5em;

}

.botonNavBarSocials>img:hover {
   transform: scale(1.1);
   cursor: pointer;
   filter: contrast(1.5);
   transition: 0.5s;


}

@media only screen and (max-width: 1280px) {
   
   .navbarButtonsSocials {
     
      margin-left: 78%;
      /* flex-direction: column; */
      margin-top: -17em;
      
   
   
   }
 }

 @media only screen and (max-width: 960px) {
   
   .navbarButtonsSocials {
     
      margin-left: 82%;
      flex-direction: column;
      margin-top: -2.2em;
      transform: scale(0.8);
      
   
   
   }
 }

 @media only screen and (max-width: 420px) {
   
   .navbarButtonsSocials {
     
      margin-left: 64%;
      flex-direction: row;
      margin-top: -2.4em;
      transform: scale(0.6);
      
   
   
   }
 }