@font-face {
   font-family: tattoo;
   src: url("../../assets/fonts/YesevaOne-Regular.ttf");
}


.detailedCardBody{

   height: auto;
   width: 40em;
   position: absolute;
   display: flex;
   margin-top: 2%;
   margin-bottom: 5%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: bisque;
   background-color: rgb(255, 0, 0);
   margin-left: 30%;
   z-index: 2;
   border: bisque;
}

.imagenCita {
   width: 20em;
   margin-bottom: 2em;
   margin-top: 2em;
}

.visible {
   opacity: 1;
 }
 
 .hidden {
   opacity: 0;
   pointer-events: none;
   height: 0;
   overflow: hidden;
 }


.buttonClose {
   background-color: rgb(26, 26, 26);
   margin-bottom: 1em;
   border-bottom: 2px solid bisque;
   border-radius: 0px;
}

.buttonClose:hover {
   outline: bisque;
   border: solid 1px bisque;
}