@font-face {
   font-family: tattoo;
   src: url("../../assets/fonts/YesevaOne-Regular.ttf");
}



.Login{
   font-family: tattoo;
   display: flex;
   justify-content: flex-end;
   height: 82vh;
   width: 100vw;
}

.formBackground{
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   margin-right: 5em;
   background-color: rgba(128, 128, 128, 0.5);
   width: 30em;
   height: 25em;
   position: relative;
   

}

.buttonSubmitLogin {

   height: 3em;
   width: 10em;
   background-color: #A7D6C3;
   color: rgb(255, 255, 255);
   font-weight: bolder;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   bottom: 1em ;
   right: 2em;
   
}

.buttonSubmitLogin:hover {

   transition: 0.2s;
   color: white;
   cursor: pointer;
   background-color:#3F8566;
}

.buttonSubmitLogin:active {

   background-color: #006C60;
}

.overInputlogin{
   margin-top: 1em;
   font-size: 22px;
   width: 100%;
   text-align: start;
   margin-left: 3.6em;
   height: 2em;
   margin-top: 1em;
   
}

@media only screen and (max-width: 1280px) {
   .Login{
      margin-left: -8%;
   }
}

@media only screen and (max-width: 960px) {
   .Login{
      margin-left: 6%;
      margin-top: 1%;
   }
}

@media only screen and (max-width: 420px) {
   .Login{
      background-color: rgb(36, 36, 36);
      transform: scale(0.7);
      margin-top: -14%;
      margin-left: 0%;
      width: 28em;
      height: 25em;
   }

   .formBackground{
      margin: 0em;
      background-color: transparent;
      z-index: 2;
      
   
   }
}