.Appointment{
   font-family: tattoo;
   display: flex;
   justify-content: flex-end;
   height: 82vh;
   width: 100vw;
   justify-content: center;
     
}

.AppointmentBackground{
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   margin-top: 2em;
   background-color: rgba(128, 128, 128, 0.5);
   width: 40em;
   height: 40em;
   position: relative;
   overflow-y: scroll;
}

.title{
   padding-top: 0.5em;
   font-family: tattoo;
    font-size: 20px;
  

}

.selectDate, .selectService, .selectShift, .selectArtist{
   padding-top: 1em;
   width: 63%;
   height: 3em;
   font-size: 18px;
   background-color: transparent;
   border: none;
   border-bottom: solid 2px rgb(218, 183, 94);
 
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   appearance: none;
   border-radius: 0; /* Elimina el border radius */
   position: relative;
 }



 .buttonSubmitPedirCita {

   height: 3em;
   width: 10em;
   background-color: rgb(218, 183, 94);
   color: rgb(255, 255, 255);
   font-weight: bolder;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   bottom: -6em ;
   right: 2em;
   margin-bottom: 2em;
   
   
}

.blankPedirCita{
   position: absolute;
   bottom: -6em ;
   height: 1em;
   width: 100%;
   background-color: transparent
}

.buttonSubmitPedirCita:hover {

   transition: 0.2s;
   color: white;
   cursor: pointer;
   background-color: rgb(221, 176, 61);;
}

.buttonSubmitPedirCitat:active {

   background-color: rgb(218, 183, 94);
}
 
 




 