@font-face {
   font-family: tattoo;
   src: url("../../assets/fonts/YesevaOne-Regular.ttf");
}



.Register{
   font-family: tattoo;
   display: flex;
   justify-content: flex-end;
   height: 88vh;
   width: 100%;
}

.formBackgroundRegister{
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   margin-right: 5em;
   background-color: rgba(128, 128, 128, 0.5);
   width: 30em;
   max-height: 31em;
   position: relative;
   overflow-y: scroll;
   overflow-x: hidden;
   

}

.buttonSubmit {

   height: 3em;
   width: 10em;
   background-color: rgb(218, 183, 94);
   color: rgb(255, 255, 255);
   font-weight: bolder;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   bottom: -6em ;
   right: 2em;
   margin-bottom: 2em;
   
   
}

.blank{
   position: absolute;
   bottom: -6em ;
   height: 1em;
   width: 100%;
   background-color: transparent;
}

.buttonSubmit:hover {

   transition: 0.2s;
   color: white;
   cursor: pointer;
   background-color: rgb(221, 176, 61);;
}

.buttonSubmit:active {

   background-color: rgb(218, 183, 94);
}

.overInput{
   margin-top: 1em;
   font-size: 22px;
   width: 100%;
   text-align: start;
   margin-left: 3.6em;
   height: 2em;
   margin-top: 1em;
   
}

.errorMsg{
   color: crimson;
   display: flex;
   justify-content: end;
   font-size: 18px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}