.Gallery {
   height: auto;
   width: 100vw;
   background: bisque;
  
   color: black;
   /* margin-top: 2em; */
}
.tattooRoster {
   padding-left: 10%;
   padding-right: 10%;

   /* display: grid;
   grid-template-columns:repeat(auto-fill, minmax(5em, 1fr));
   gap: 1em; */
   display: flex;
   flex-wrap: wrap;
}
.tattooRoster img {
   width: 20em;
   padding: 2em;
}

.tattooRoster img:hover {
   transform: scale(1.1);
   transition: 0.5s;
}

@media only screen and (max-width: 1280px) {
   .Gallery {
      margin-top: 23vh;
   
} 
   
   
 }

@media only screen and (max-width: 420px) {
   
   .tattooRoster {
      padding-left: 0%;
      padding-right: 0%;
   
   
   }
 }