@font-face {
   font-family: tattoo;
   src: url("../../assets/fonts/YesevaOne-Regular.ttf");
}

.backgroundTattooArtist {
   background: rgb(255,228,196);
background: linear-gradient(0deg, rgba(255,228,196,1) 0%, rgba(198,173,142,1) 100%);
   display: flex;
   align-items: center;
   justify-content: center;

   height: auto;
   font-family: tattoo;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: black;
   /* margin-top: 2em; */

}

.tattooimage {
   width: 100%;
}

.tattooimage:hover {
   cursor: pointer;
}

.gridTattooArtist div {
   max-width: 25em;
   padding: 1em;
}


.gridTattooArtist {
   padding: 2em;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   
}

@media only screen and (max-width: 1280px) {
   .backgroundTattooArtist {
      margin-top: 23vh;
   
} 
   
   
 }