@font-face {
   font-family: tattoo;
   src: url("../../assets/fonts/YesevaOne-Regular.ttf");
}


.detailedCardBody{

   height: auto;
   width: 35em;
   position: absolute;
   display: flex;
   margin-top: 2%;
   margin-bottom: 5%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: bisque;
   background-color: rgb(26, 26, 26);
   margin-left: 30%;
   z-index: 2;
   border: bisque;
}

.cardDetailCita{
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   padding-left: 3em;
   padding-right: 3em;
}

.imagenCita {
   width: 20em;
   margin-bottom: 2em;
   margin-top: 2em;
}

.visible {
   opacity: 1;
 }
 
 .hidden {
   opacity: 0;
   pointer-events: none;
   height: 0;
   overflow: hidden;
 }

 .detailID{
   font-family: tattoo;
   font-size: 24px;
   margin-bottom: 1em;
 }

 .detailTitle{
   font-size:20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-bottom: 1em;
   
 }

 .detailDesc{
   font-size:20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-bottom: 1em;
   color: white;
 }

 .blanco{
   color: white
 }
 .crimson{
   color: crimson;
   font-size: 50px;
   margin: 0.5em;
 }

 .detailWork{
   font-size:20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-bottom: 1em;
 }

 .detailTattoo{
   font-size:20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-bottom: 1em;
 }

 .detailClient{
   font-size:20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-bottom: 1em;
 }

 .detailDate{
   font-size:16px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-bottom: 1em;
 }

 .detailTurn{
   font-size:20px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-bottom: 2em;
 }



.buttonClose {
   background-color: rgb(26, 26, 26);
   margin-bottom: 1em;
   border-bottom: 2px solid bisque;
   border-radius: 0px;
}

.buttonClose:hover {
   outline: bisque;
   border: solid 1px bisque;
}