.detailedCardBody{
   height: 40em;
   width: 40em;
   position: absolute;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: black;
   background-color: beige;
   margin-left: 30%;
   z-index: 2;
}

.imagenCita {
   width: 20em;
}

.visible {
   opacity: 1;
 }
 
 .hidden {
   opacity: 0;
   pointer-events: none;
   height: 0;
   overflow: hidden;
 }