@font-face {
   font-family: tattoo;
   src: url("../../assets/fonts/YesevaOne-Regular.ttf");
}

.ListUsers{
   font-family:tattoo;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: bisque;
   color: black;
   width: 100vw;
   height: auto;
   min-height: 100vh;
}

.panelAdminTitle{
   font-size: 26px;
   padding: 2em;
}

.userRow {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
}


.buttonDelete{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #FF8981;
   color: white;
   width: 3em;
   height: 3em;
   margin-left: 1em;
}

.buttonDelete:hover{
   background-color: #C2544F;
   cursor: pointer;
}

.buttonEdit{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #739F8D;
   color: white;
   width: 3em;
   height: 3em;
   margin-left: 1em;
}

.buttonEdit:hover{
   cursor: pointer;
   background-color: #A7D6C3;
}

.id{
   width: 2em;
}

.userName{
   width: 10em;
}

.email{
   width: 14em;
}

.phone {
   width: 10em;
}

.level {
   width: 8em;
}

.created_at {
   width: 12em;
}

.updated_at {
   width: 12em;
}

.buttonBack{
   width: 10em;
   height: 3em;
   background-color: bisque;
   margin: 2em;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   border: solid 2px black;
   display: flex;
   justify-content: center;
   align-items: center;
}

.buttonBack:hover{
   background-color: rgb(37, 37, 37);
   color: bisque;
   cursor: pointer;
   transform: 0.5s;
}

@media only screen and (max-width: 1280px) {
   .ListUsers {
      margin-top: 23vh;
   
} 
}
