.logoChiquito{
   width: 12em;
   height: 8em;
   margin: auto;
   background-image: url("../../images/matasuegras.png");
   background-size: 12em;
   background-repeat: no-repeat;
   
   filter: sepia(2);
   margin-top: 2em;
   position: absolute;
   
   left: 5%;
   

   
}

.logoChiquito:hover {
   cursor: pointer;
   
}

@media only screen and (max-width: 960px) {
   
   .logoChiquito{
   
     margin-left: 35%;
     margin-right: 35%;
     
   }
   }

@media only screen and (max-width: 420px) {
   
   .logoChiquito{
   
     margin-left: 22%;
   }
   }