@font-face {
   font-family: tattoo;
   src: url("../../assets/fonts/YesevaOne-Regular.ttf");
}

.footerBlack {
   font-family: tattoo;
   width: 100vw;
   height: auto;
   background-color: #202020;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   
}

.verticalCard{
   width: 20em;
   text-align: start;
   margin-left: 1em;
   margin-right: 1em;
   
   
}

.columnaIzquierdaArribaFooter{
   margin-top: 2em;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.columnaIzquierdaFooter{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   line-height: 2;
   font-size: 16px;
   margin-top: 2em;
}

.verticalCardTitle{
   margin-top: 1em;
   font-size: 22px;
   font-family: tattoo;
   color: #739F8D;
}

.googleMapFooterBlack{
   margin-top: 2em;
}

.instagram{
   margin-top: 2em;
   height: 350px;
   width: 350px;
   margin-bottom: 1em;
}

.verticalNavbar{
   margin-top:1.5em;
}







@media only screen and (max-width: 420px) {
   
   .instagram{
     
      margin-left: -1em;
   }
   
   
   
 }

