@font-face {
   font-family: tattoo;
   src: url("../../assets/fonts/YesevaOne-Regular.ttf");
}

.footerBlack {
   font-family: tattoo;
   width: 100vw;
   height: 40em;
   background-color: #202020;
   position: relative;
}

.titleFooter{
   font-size: 2em;
   padding-top: 3em;
   display: flex;
   justify-content: space-evenly;
   color: rgb(218, 183, 94);
   
   
}

.titleFooter div  {
   border-bottom: solid 1px ;
}

.infoFooter div {
   line-height: 2;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-top: 2em;
   margin-left: 10%;
   text-align: start;
   width: 20%;
   max-width: 20%;
}

.googleMapFooterBlack{
   position: absolute;
   top: 30%;
   left: 54.5%;
   margin-bottom: 3em;
}

.instagram{
   position: absolute;
   top: 30%;
   left: 76%;
   height: 350px;
   
}

.columnaIzquierdaFooter{
   position: absolute;
   top: 45%;
   margin-left: 0px;
   font-size: 16px;
   display:flex;
   flex-direction: column;
   width: 40vw;

}

.verticalNavbar {
   position: absolute;
   top: 30%;
   left: 37%;
}
