.UnderFooter{
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 24px;
   height: 5em;
   width: 100vw;
   background-color: #739F8D;
   color: white;
}

@media only screen and (max-width: 420px) {
   
   .UnderFooter {
      font-size: 12px;
      
   
   }

   .UnderFooter > p {
      margin-left: 5%;
      margin-right: 5%;
   }
 }