body {
  max-width: 100%;
  overflow-x: hidden;

  p::selected {
    background-color: brown;
  }

  /* background-color: bisque; */
}

.homeBodyInner {
  width: 100vw;
  height: 100vh;

  background-image: url("../../images/image2.jpg");
  opacity: 1;

  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;


}