@font-face {
   font-family: tattoo;
   src: url("../../assets/fonts/YesevaOne-Regular.ttf");
}

.ListUsers{
   font-family:tattoo;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: bisque;
   color: black;
   width: 100vw;
   min-height: 100vh;
   height: auto;
}

.panelAdminTitle{
   font-size: 26px;
   
}

.userRow {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
   border: none;
}

.userRow:hover{
   cursor: pointer;
   background-color: rgb(252, 199, 135);
   
}



.buttonDelete{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #C2544F;
   color: white;
   width: 3em;
   height: 3em;
   margin-left: 1em;
}

.buttonDelete:hover{
   background-color:#FF8981;
   cursor: pointer;
}

.buttonEdit{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #739F8D;
   color: white;
   width: 3em;
   height: 3em;
   margin-left: 1em;
}

.buttonEdit:hover{
   cursor: pointer;
   background-color: #A7D6C3;
}

.id{
   width: 2em;
}

.titleAppointment{
   width: 14em;
}

.email{
   width: 18em;
}

.phone {
   width: 14em;
}

.level {
   width: 8em;
}

.created_at {
   width: 12em;
}

.updated_at {
   width: 12em;
}




.inputEdit{
   font-size: 16px;
   padding: 0.5em;
   width: 90%;
   margin-left: 0.5em;
   color: bisque;
   outline: none;
   border: none;
}

.completeRow{
   display: flex;
}

.deleteButtons{
   display: flex;
}
@media only screen and (max-width: 1280px) {
   .ListUsers {
      margin-top: 23vh;
   
} 
}
