@font-face {
   font-family: tattoo;
   src: url("../../assets/fonts/YesevaOne-Regular.ttf");
}

.ListUsers{
   font-family:tattoo;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: bisque;
   color: black;
   width: 100vw;
   height: auto;
}

.panelAdminTitle{
   font-size: 26px;
   padding: 2em;
}

.userRow {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   display: flex;
}

.userRow > div {
   border-bottom: solid 1px black;
   margin-top: 1em;
   margin-bottom: 1em;
}

.buttonDelete{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: crimson;
   color: white;
   width: 3em;
   height: 3em;
   margin-left: 1em;
}

.buttonDelete:hover{
   background-color: rgb(145, 3, 32);
   cursor: pointer;
}

.buttonEdit{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: green;
   color: white;
   width: 3em;
   height: 3em;
   margin-left: 1em;
}

.buttonEdit:hover{
   cursor: pointer;
   background-color: rgb(0, 65, 0);
}

.id{
   width: 2em;
}

.titleAppointment{
   width: 14em;
}

.email{
   width: 18em;
}

.phone {
   width: 14em;
}

.level {
   width: 8em;
}

.created_at {
   width: 12em;
}

.updated_at {
   width: 12em;
}

.buttonBack{
   width: 10em;
   height: 3em;
   background-color: bisque;
   margin: 2em;
   color: black;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   border: solid 2px black;
   display: flex;
   justify-content: center;
   align-items: center;
}

.buttonBack:hover{
   background-color: rgb(37, 37, 37);
   color: bisque;
   cursor: pointer;
   transform: 0.5s;
}


.inputEdit{
   font-size: 16px;
   padding: 0.5em;
   width: 90%;
   margin-left: 0.5em;
   color: bisque;
   outline: none;
   border: none;
}
@media only screen and (max-width: 1280px) {
   .ListUsers {
      margin-top: 23vh;
   
} 
}
