@font-face {
   font-family: tattoo;
   src: url("../../assets/fonts/YesevaOne-Regular.ttf");
}

.backgroundTattooArtist {
   background-color: bisque;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   
   height: auto;
   font-family: tattoo;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   color: black;

}

.flexTattoArtist{
   position: relative
}

.nuestrosTatuadores {
   font-family: tattoo;
   font-size: 30px;
   margin-bottom: 2em;
   margin-top: 1em;
}



.tattooimage {
   width: 100%;
   
}

.p{
   width: 12em;
   height: 2em;
   position: absolute;
   margin-left: -3em;
   top:15%;
   color: rgba(255, 0, 0, 0);
   font-size: 1.6em;
   
}

.pfila2{
   width: 12em;
   height: 2em;
   position: absolute;
   margin-left: -3em;
   top:63%;
   color: rgba(255, 0, 0, 0);
   font-size: 1.6em;
}

.tattooimage:hover{
   filter: sepia(0.5) brightness(70%);
   transition: 1s;
   color: white;  
}

.tattooimage:hover + .p {
   transition: 2s;
   color: white;
 }

 .tattooimage:hover + .pfila2 {
   transition: 2s;
   color: white;
 }



.gridTattooArtist div {
   /* display: flex;
   flex-direction: column;
   justify-content: center; */
   align-items: center;
   max-width: 25em;
   padding: 1em;
   /* margin-left: 10%; */
}


.gridTattooArtist {
   padding: 2em;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   
}
@media only screen and (max-width: 1360px) {

   #col2{
      margin-top: -0.7em;
   }

   

   .gridTattooArtist {
      display: flex;
      justify-content: center;
   }


   .gridTattooArtist div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 25em;
      
   }

   .p{
      
      margin-left: -1em;
      top:15%;
      
      
   }
   
   .pfila2{
      
      margin-left: -2em;
      top:62%;
      
   }
   
 }