.BackgroundMainSuperAdmin{
   background-color: bisque;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.titleAdmin {
   padding-top: 2em;
   font-size: 30px;
   color: black;

}

.headerAdminPanel{
   margin-top: 2em;
   width: 50vw;
   height: 15em;
   background-image: url("../../images/adminpanel.jpg");
   background-position: center;
   background-size: cover;
}


.buttons {
   display: flex;
}

.buttonUsers {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 20px;
   width: 15em;
   height: 5em;
   border: none;
   background-color: #739F8D;
   margin: 2em;
}

.buttonUsers:hover{
   background-color: #A7D6C3; 
  transition: 0.5s;
   cursor: pointer;

}

.completeRow{
   display: flex;
   flex-direction: row;
}


.buttonsSuperAdmin{
   display: flex;
   flex-direction: row;
   margin-bottom: 1em;
}
@media only screen and (max-width: 1280px) {
   .BackgroundMainSuperAdmin {
      margin-top: 23vh;
   
} 
}