@font-face {
   font-family: tattoo;
   src: url("../../assets/fonts/YesevaOne-Regular.ttf");
}

.navbarButtons {
   font-family: tattoo;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   
   
}

.botonNavBar {
   padding: 0.8em;
   font-size: 1.2em;
   margin-top: 5%;

}

.botonNavBar:hover {
   padding: 0.5em;
   font-size: 1.2em;
   
   cursor: pointer;
   color: #dab75e;
   transition: 0.5s;
   transform: scale(1.1);
   border-bottom: solid 1px hsla(43, 63%, 61%, 0.5);
   border-left: solid 1px hsla(43, 63%, 61%, 0.5) ;
   
}

@media only screen and (max-width: 1280px) {
   .navbarButtons {
     display: none;
   }
 }

 @media only screen and (max-width: 420px) {
   .navbarButtons {
     display: block;
     display: flex;
     transform: scale(0.5);
     margin-top: 7.5em;
     
   }

   .botonNavBar:hover{
      
      border: none;
      
    }
 }