@font-face {
  font-family: tattoo;
  src: url("../../assets/fonts/YesevaOne-Regular.ttf");
}

.generalInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: tattoo;
  justify-content: space-around;
  padding-top: 2em;

  border-top: solid 1px rgba(255, 255, 255, 0.5);
  width: 70vw;
  margin-left: 15vw;
}

.titleinfo {
  font-size: 1.5em;
  color: rgb(218, 183, 94);
}

.phoneInfo {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-right: 8em;
  padding-left: 8em;
}

@media only screen and (max-width: 960px) {
  .generalInfo {
    margin-top: -7em;
  }
}

@media only screen and (max-width: 420px) {
  .generalInfo {
    margin-top: -0.1em;
    transform: scale(0.5);
  }
}
