@font-face {
   font-family: tattoo;
   src: url("../../assets/fonts/YesevaOne-Regular.ttf");
}

.navbarButtonsLogin {
   
   font-family: tattoo;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-left: 77%;
   margin-top: -6.2em;
   font-size: 21px;
   
  
}

.botonNavBarLogin2{
   padding: 1em;
   z-index: 2;
   margin-top: 1.2em;
}
 
 .botonNavBarLogin.logout {
   color: red;
 }

 .botonNavBarLogin.logout:hover {
   color: darkred;
 }

.botonNavBarLogin {
   padding: 1em;
   z-index: 2;
   margin-top: 1.2em;

}

.botonNavBarLogin:hover {
   

   cursor: pointer;
   color: #dab75e;
   transition: 0.5s;
   
   
}

@media only screen and (max-width: 1280px) {
   
   .navbarButtonsLogin{
    flex-direction: column; 
    align-items: flex-end;
    justify-content: flex-start;
    margin-right: 2em;
    
    
    
    margin-top: -19.5em; 
    height: 10em;
   
   }

   .botonNavBarLogin {
      
      font-size: 1.2em;
      margin-bottom: -2em;
   }
   
   .botonNavBarLogin:hover {
   
      font-size: 1.2em;
      
      cursor: pointer;
      color: #dab75e;
      transition: 0.5s;
      
      
   }
   .botonNavBarLogin:hover {
   
      border: none;
      
   }
 }

 @media only screen and (max-width: 420px) {
   
   .navbarButtonsLogin{
      font-size: 12px;
     margin-left: 100%;
     margin-top: -32%;
     
     
     
   }

   .botonNavBarLogin:hover {
   
      border: none;
      
   }
   
   }