.BackgroundMainSuperAdmin {
   background-color: bisque;
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.titleAdmin {
   padding-top: 2em;
   font-size: 30px;
   color: black;

}

.headerAdminPanel {
   margin-top: 2em;
   width: 50vw;
   height: 15em;
   background-image: url("../../images/adminpanel.jpg");
   background-position: center;
   background-size: cover;
}


.buttons {
   display: flex;
}



@media only screen and (max-width: 1280px) {
   .BackgroundMainSuperAdmin {
      margin-top: 23vh;

   }
}