.superAdminButton{
  width: 12em;
   margin-left: 46%;
   margin-top: -26em;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 3em;
   background-color: #A7D6C3;
  
   color: white;
   padding: 0.2;
   

}

.superAdminButton:hover{
   transition: 0.5s;
   
   background-color:#3F8566;
   
   cursor: pointer;
}

@media only screen and (max-width: 420px) {
   
   .superAdminButton {
     
      margin-left: -22%;
      
      margin-top: -6em;
      
   
   
   }
 }