.superAdminButton{
  width: 12em;
   margin-left: 83%;
   margin-top: -25em;
   
   
   height: 3em;
   background-color: rgb(196, 167, 96);
   border: solid 1px black;
   color: black;
   padding: 0.2;
   

}

.superAdminButton:hover{
   transition: 0.5s;
   color: goldenrod;
   background-color: black;
   border: solid 1px goldenrod;
   cursor: pointer;
}

@media only screen and (max-width: 420px) {
   
   .superAdminButton {
     
      margin-left: -22%;
      
      margin-top: -6em;
      
   
   
   }
 }